* {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  line-height: 21px;
}


body {
  overflow-x: hidden;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  transition: opacity 1s ease 0s;
  opacity: 1;
  background-color: #d8b036;
  background-image: url(../img/global-bg.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;

  @include lg-min {
    padding: 0 30px;
  }

  @include lg {
    padding: 0 15px;
  }
}

a {
	text-decoration: none;
  color: #eeeeee;
  
  &:hover,
  :focus {
    color: #e12727;
  }
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
  margin: 0;
  color: #cccccc;
}

.container {
	display: flex;
}