.widget-news {
  &__item {
    &-wrapper {
      display: flex;
      margin: 0 -15px 7.5px;
      padding: 0 15px 7.5px;
      flex-wrap: wrap;
    }

    &-title {
      display: block;
      overflow: hidden;
      width: 100%;
      margin: 0 0 10px;
      transition: color 0.5s;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 300;

      & a:hover {
        text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
      }
    }

    &-image {
      overflow: hidden;
      width: 75px;
      height: 75px;
      border-radius: 4px;
    }

    &-excerpt {
      display: -webkit-box;
      overflow: hidden;
      width: calc(100% - 75px);
      max-height: 75px;
      padding-left: 10px;
      transition: color 0.5s;
      color: #cccccc;
      font-size: 13px;
      line-height: 19px;
    }
  }
}

.widget-news__item a:hover  .widget-news__item-wrapper{
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.widget-news__item-image a:hover .widget-news__item-excerpt {
  color: #eeeeee;
}

.widget-news__item a:hover .widget-news__item-image img {
  transform: scale(1.1);
}